body {
    font-family: sans-serif;
    font-weight: bold;
    background-position: center;
    background-color: black;
    
    
    


}

.container {
    border: 10px;
    border-radius: 20px;
    border-color: teal;
    text-align: center;
    border-style:groove;
    background-color: aliceblue;
    margin: auto;
    
  
    

}

.container2 { 
    border: 10px;
    border-radius: 20px;
    border-color: teal;
    text-align: center;
    border-style: groove;
    background-color: aliceblue;
    height: 35%;
    width: 50%;
    margin: auto;
    margin-top: 30px;
}

#start {
    height: 40px;
    width: 200px;
    border-style: groove;
    background-color: teal;
    border-color: black;
    border-radius: 20px;
    cursor: pointer;
}

.questions{
    background-color: aliceblue;
    height: 60px;
text-align: center;
    border: 10px;
    border-radius: 20px;
    border-color: teal;
   margin: auto;
    border-style: groove;
    background-color: aliceblue;
   height: 35%;
    width: 75%;
}

.qbuttons {
    height: 40px;
    width: 200px;
    border: 10px;
    border-radius: 20px;
    border-style: groove;
    border-color: teal;
    display: flex;
    margin: auto;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

