body {
    font-family: sans-serif;
    font-weight: bold;
    background-position: center;
    background-color white-space: ;
    display: flex;
    justify-content: center;
}

.container {
    border: 10px;
    border-radius: 20px;
    border-color: teal;
    text-align: center;
    border-style:groove;
    background-color: aliceblue;
  
   
}

.container2 { 
    border: 10px;
    border-radius: 20px;
    border-color: teal;
    text-align: center;
    border-style: groove;
    background-color: aliceblue;
    
    
}

#start {
    height: 40px;
    width: 200px;
    border-style: groove;
    background-color: teal;
    border-color: black;
    border-radius: 20px;
    cursor: pointer;
}

.questions{
    
}

.qbuttons {
    
