body {
    font-family: sans-serif;
    font-weight: bold;
    background-position: center;
    background-color: black;
    


}

.container {
    border: 10px;
    border-radius: 20px;
    border-color: teal;
    margin: auto;
    text-align: center;
    border-style:groove;
    padding: auto;
    margin: 20px;
    background-color: aliceblue;
    

}

.container2 { 
    border: 10px;
    border-radius: 20px;
    border-color: teal;
    margin: auto;
    text-align: center;
    border-style: groove;
    background-color: aliceblue;
    padding: 20px;
   height: 35%;
    width: 50%;
}

#start {
    height: 40px;
    width: 200;
}